@charset "utf-8";
/* CSS Document */
.w-10{width:10px}
.w-15{width:15px}
.w-20{width:20px}
.w-25{width:25px}
.w-30{width:30px}
.w-35{width:35px}
.w-40{width:40px}
.w-45{width:45px}
.w-50{width:50px}
.w-55{width:55px}
.w-60{width:60px}
.w-65{width:65px}
.w-70{width:70px}
.w-75{width:75px}
.w-80{width:80px}
.w-82{width:82px}
.w-85{width:85px}
.w-90{width:90px}
.w-95{width:95px}
.w-100{width:100px}
.w-110{width:110px}
.w-120{width:120px !important;}
.w-130{width:130px}
.w-137{width:137px !important;}
.w-140{width:140px}
.w-150{width:150px}
.w-157{width:157px}
.w-160{width:160px !important;}
.w-170{width:170px}
.w-177{width:177px !important;}
.w-180{width:180px}
.w-190{width:190px}
.w-200{width:200px}
.w-212{width:212px}
.w-220{width:220px}
.w-206{width:206px}
.w-250{width:250px}
.w-300{width:300px}
.w-350{width:350px}
.w-400{width:400px}
.w-410{width:410px}
.w-420{width:420px}
.w-450{width:450px}
.w-500{width:500px}
.w-550{width:550px}
.w-600{width:600px}
.w-700{width:700px}
.w-750{width:750px}
.w-800{width:800px}
.w-840{width:840px}
.w-900{width:900px}
.w-1000{width:1000px}
.w-1100{width:1100px}
.w-1200{width:1200px}
.min-w-1200{min-width:1200px;}

.wp-10{width:10%}
.wp-20{width:20%}
.wp-30{width:30%}
.wp-40{width:40%}
.wp-50{width:50%}
.wp-60{width:60%}
.wp-70{width:70%}
.wp-80{width:80%}
.wp-90{width:90%}
.wp-100{width:100%}

/*߶*/
.h-20{height:25px}
.h-30{height:30px}
.h-40{height:40px !important;}
.h-50{height:50px}
.h-104{height:104px}
.h-220{height:220px}
.h-300{height:300px}
.h-358{height:358px}
.h-400{height:400px}
.h-431{height:431px}
.h-490{height:490px}
.hp-100{height:100%}
.min-h-100{min-height: 100px;}
.min-h-280{min-height: 280px;}
.min-h-415{min-height: 415px;}
/*line-height*/
.lh-20{line-height:20px}
.lh-25{line-height:25px}
.lh-30{line-height:30px}

/*margin*/
.mg0{margin:0}
.mgauto{margin:0 auto}
.mt-5{margin-top:5px}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-20{margin-top:20px}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}

.mr-5{margin-right:5px}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px}
.mr-20{margin-right:20px}
.mr-23{margin-right:23px}
.mr-90{margin-right:90px}


.mb-0{margin-bottom:0px !important}
.mb-5{margin-bottom:5px}
.mb-10{margin-bottom:10px}
.mb-15{margin-bottom:15px !important;}
.mb-17{margin-bottom:17px}
.mb-20{margin-bottom:20px !important;}
.mb-30{margin-bottom:30px}

.ml-5{margin-left:5px}
.ml-10{margin-left:10px}
.ml-15{margin-left:15px}
.ml-20{margin-left:20px}
.ml-30{margin-left:30px}
.ml-45{margin-left:45px}
.ml-23{margin-left:23px}
.ml-90{margin-left:90px}
.ml-75{margin-left:75px}

/*padding*/
.pi0{padding:0}
.pl-0{padding-left:0px}
.pl-5{padding-left:5px}
.pl-10{padding-left:10px}
.pl-15{padding-left:15px}
.pl-20{padding-left:20px}
.pl-25{padding-left:25px}
.pl-30{padding-left:30px}
.pl-35{padding-left:35px}
.pl-45{padding-left:45px}

.pr-5{padding-right:5px}
.pr-10{padding-right:10px}
.pr-15{padding-right:15px}
.pr-20{padding-right:20px}
.pr-25{padding-right:25px}
.pr-30{padding-right:30px}
.pr-35{padding-right:35px}

.pt-5{padding-top:5px}
.pt-10{padding-top:10px}
.pt-15{padding-top:15px}
.pt-20{padding-top:20px}
.pt-25{padding-top:25px}
.pt-30{padding-top:30px}
.pt-40{padding-top:40px}


.pb-5{padding-bottom:5px}
.pb-10{padding-bottom:10px}
.pb-15{padding-bottom:15px}
.pb-20{padding-bottom:15px}
.pb-25{padding-bottom:25px}
.pb-30{padding-bottom:30px}

/*font-size*/
.f-s-12{font-size:12px}
.f-s-13{font-size:13px}
.f-s-14{font-size:14px}
.f-s-15{font-size:15px}
.f-s-16{font-size:16px}
.f-s-18{font-size:18px}
.f-w-b{font-weight:bold}

/*color*/
.color242b3b{color:#242b3b}
.color666666{color:#666666}
.color494949{color:#494949}
.color484848{color:#484848}
.colorcc3333{color:#cc3333}
.color737373{color:#737373}
.color898989{color:#898989}
.color959595{color:#959595}
.color000{color:#000}
.colorff2a00{color:#ff2a00}
.color4688f1{color:#4688f1}
.colorae0000{color:#ae0000}
.color333333{color:#333}
.coloraaa{color:#aaaaaa}
.color555{color:#555555}
.colorfff{color:#fff}
.color999{color:#999999}
.color0066cc{color: #0066cc}
.color00c9c7{color:#00c9c7}
.color5a81ff{color:#5a81ff}
.color3db353{color:#3db353}
.colorda402d{color:#da402d}
.color5aa4ff{color:#5aa4ff}
.color5a81ff{color:#5a81ff}
.color50c14e{color:#50c14e}
.colora0a0a0{color:#a0a0a0}
.colorf8f9fd{color:#f8f9fd}
.color384463{color:#384463}
.color777{color:#777777}
.colora8a9ab{color:#a8a9ab}
.coloref5322{color:#ef5322}
.colorccc{color:#ccc}
.colorababab{color:#ababab}
.color5d0e12{color:#5d0e12}
.color444{color:#444}
.color8f8f8f{color:#8f8f8f}

/*background-color*/
.bgf8f9fd{background:#f8f9fd}
.bgf5f6fa{background:#f5f6fa}
.bgfff{background:#fff}
.bgf8f8f8{background:#f8f8f8}
.bgf8f8f9{background:#f8f8f9}
.bga8a9ad{background:#a8a9ad}
.bgf2f2f4{background:#f2f2f4}
.bgccc{background:#ccc}
.bgd9e9ba{background:#d9e9ba}
.bgcffffff{background-color:#ffffff}
.bgcf0f0f0{background-color:#f0f0f0}
.bgce3e3e3{background-color:#e3e3e3}
.bgc69d42a{background-color:#69d42a}
.bgctransparent{background-color:transparent}

/*text-indent*/
.ti-10{text-indent:10px}
.ti-20{text-indent:20px}

/*text-align*/
.t-a-l{text-align:left}
.t-a-r{text-align:right}
.t-a-c{text-align:center}

/*float*/
.fl{float:left}
.fr{float:right}

/*display*/
.d-ib{display:inline-block}
.d-b{display:block}
.d-n{display:none}

/*text-decoration*/
.td-und{text-decoration:underline}
.td-none{text-decoration:none}

/*position*/
.po-ab{position:absolute}
.po-re{position:relative}

/*z-index*/
.z-i--1{z-index: -1}
.z-i-0{z-index: 0}
.z-i-1{z-index: 1}
.z-i-2{z-index: 2}
.z-i-3{z-index: 3}
.z-i-4{z-index: 4}
.z-i-5{z-index: 5}
.z-i-6{z-index: 6}
.z-i-99{z-index: 99}
.z-i-100{z-index: 100}
.z-i-101{z-index: 101}
.z-i-200{z-index:200}
.z-i-1000{z-index:1000}

/*clear*/
.c-both{clear:both}
.c-l{clear:left}
.c-r{clear:right}

/*overflow*/
.ov-hi{overflow:hidden}
.ov-au{overflow:auto}

/*vertical-align*/
.v-a-t{vertical-align:top}
.v-a-m{vertical-align:middle}
.v-a-b{vertical-align:bottom}

/*border-radius*/
.b-r-l-4{border-radius:4px 0px 0px 4px}
.b-r-r-4{border-radius:0px 4px 4px 0px}
.b-r-4{border-radius:4px}

/*opacity*/
.opacity10{
  filter: alpha(opacity=10);
    -moz-opacity:0.1;
    opacity:0.1;
}
.opacity20{
  filter: alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.2;
}
.opacity30{
  filter: alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
}
.opacity40{
  filter: alpha(opacity=40);
    -moz-opacity:0.4;
    opacity:0.4;
}
.opacity50{
  filter: alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}
.opacity60{
  filter: alpha(opacity=60);
    -moz-opacity:0.6;
    opacity:0.6;
}
.opacity70{
  filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.opacity80{
  filter: alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
}
.opacity90{
  filter: alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}

.ws-nowrap{white-space:nowrap}
.text-dot{
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}

.m-h-1000{
  min-height: 1000px;
}

.b-none{border:none;}
.text-break{word-wrap:break-word;word-break:break-all;}
.cur-po{cursor:pointer}
.ls-none{list-style:none}
.ol-none{outline:none}

.clearfix{clear:both}

.r-340{right:340px}
.r-365{right:365px}
.r-370{right:370px}
.r-115{right:115px;}
.r-348{right:368px;}
.r-149{right:149px;}
.r-172{right:172px;}
.r-365{right:365px;}
.r-177{right:177px;}
.r-150{right:150px;}


button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {
border:none 
}

a:focus{
outline:none
}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}